/*Footer*/
footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  margin-top: 1rem;
  color: white;
}

.footer-logo {
  width: 10rem;
}

footer h5 {
  margin-top: 1rem;
}

/*Footer end*/
